.markdown-rendered pre .obsidian-embed-code-file {
    position: relative;
    top: 3px;
    left: 0px;
    font-size: 85%!important;
    padding: 3px 8px!important;
    border-radius: 0px!important;
    margin-top: -9px!important;
    margin-left:-9px!important;
    margin-right:-9px!important;
    margin-bottom:9px!important;
} 
code[class*="language-"], pre[class*="language-"]{
	  border: 1px dashed  black;	  
}
pre[class*="language-"]{
	margin:1em    10%!important;
	box-shadow: 4px 4px .3em gray;
	background-color: rgba(255, 235, 200, .2);
}

.code-line-container {
  display: flex;
  #align-items: baseline;
}

.code-line-number {
  margin-right: 10px;
  color: #506882;
  font-family: monospace; /* Change to your desired font */
}

.obsidian-embed-code-title{
}

 pre[class*="obsidian-embed-code"].option{
	 border: 1px solid grey;
	 padding:.1em;
	 font-size:1.2em;
 }

.obsidian-embed-code-title-wrapper {
	position:absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
	right:.5em;
	bottom:.5em;
	
}